@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flexbox;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: c.$MODAL_Z_INDEX;

  &.enterDone,
  &.exit {
    .drawer {
      transform: translate(0, 0);
    }
  }

  &.enter,
  &.exitActive {
    .drawer {
      &.top {
        transform: translateY(-100%);
      }

      &.right {
        transform: translateX(200%);
      }

      &.bottom {
        transform: translateY(200%);
      }

      &.left {
        transform: translateX(-100%);
      }
    }
  }

  .drawer {
    position: absolute;
    transition: all 200ms cubic-bezier(0.7, 0.3, 0.1, 1);

    &.top {
      top: 0;
      right: 0;
      left: 0;
    }

    &.right {
      top: 0;
      right: 0;
      bottom: 0;
    }

    &.bottom {
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.left {
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
